// Include sharing menu
if config.share
    include items/articleShare

article.single
    .color
        .icons
            if config.github.history
                a(href= config.github.url + '/commits/master/' + realPath , title='History' ).mdi-button
                    i.mdi history
            // If share links are provided, we render share icon
            if config.share
                button.mdi-button#article-share(title="Share")
                    i.mdi share
        h1!=title
            span!='Reading time ' + readingTime
        .wrap-tags-meta
            .tags
                each tag in tags
                    if tag.name
                        a(href='/tags/' + tag.slug)!=tag.name
            .meta
                span.created(date=created)!=created.format('Do MMMM')
    section
        !=contents
    .comments
        include comments