article.list
    .color
        a(href!='/' + post.path)
            h2!=post.title
        .tags
            each tag in post.tags
                a(href='/tags/' + tag.slug)!=tag.name
    section
        .text!=post.less
        span.article-clear
        .meta
            span.created(date=post.created)!=post.created.format('Do MMMM')
            a.button.text(href!='/' + post.path) Read More