.options#buttons-comments
    button.text#show-comments.visible
        | Show Comments
    button.text#hide-comments
        | Hide Comments
noscript
    | JavaScript disabled, no comments will be visible as they are
    a(href='https://disqus.com') Provided by Disqus
#disqus_thread