.footer-clear
footer
    a(href='#') To The Top

    // Script files go here
    script(src="/js/pixi.js", type="text/javascript")
    script(src="/js/tether.js", type="text/javascript")
    script(src="/js/moment.js", type="text/javascript")
    script(src="/js/main.js", type="text/javascript")
