.footer-clear
footer
    a(href='#') To The Top
    a(href='mailto:mentos1386@tjo.space') Contact Me

script(src="/js/tether.js", type="text/javascript")
script(src="/js/moment.js", type="text/javascript")
script(src="/js/main.js", type="text/javascript")
