doctype html
html
    head
        meta(charset='UTF-8')
        title= title || config.title
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

        link(crossorigin='anonymous' href='/css/normalize.min.css' rel='stylesheet')
        link(crossorigin='anonymous' href='/css/main.min.css' rel='stylesheet')

        link(rel='icon' type='img/png' href=config.favicon)

        meta(name='description', content=config.description)
        meta(name='author', content=author ? author.name : config.author)
    body
