if config.more
    include items/navMore

include stickyHeader

header
    noscript
        | Looks like you don't have Javascript enabled/available. Most of the stuff should still work though.

    if config.gravatar !== ''
        a(href="/")
            img(src='https://www.gravatar.com/avatar/' + config.gravatar + 's=512' alt='Gravatar')

    a(href="/")
        h3.title= config.title

    p.description= config.description

    nav
        ul
            each url, name in config.menu
                li
                    a(href=url)!=name
            if config.more
                li.more
                    button.mdi-button#nav-more
                        i.mdi.hover more_horiz
