@import "mixins/skew";
@import "mixins/responsivnes";

.article-clear {
  display: flex;
  flex: 1;
}

article {
  display: flex;
  color: $text-dark-secondary;
  z-index: 2;
  min-height: 200px;

  // Article content
  section {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: $text-dark-primary;
    margin-top: 1em;
  }

  // Color next to the text intro
  .color {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: center;
    padding: 1em;
    cursor: pointer;
    text-transform: capitalize;
    color: $text-light-secondary;
    position: relative;
    max-width: 980px;
    @include responsiveBody;

    &:before{
      @include skew();
      background: $accent-color;
    }


    &:hover,
    &:active {
      text-decoration: none;
    }

    // Article title
    h2,
    h1 {
      display: flex;
      flex-direction: column;
      margin: 0;
      color: $text-light-primary;
      font-weight: 300;
    }

    .tags {
      display: flex;
      flex: 1;
      flex-direction: row;
      span {
        padding-right: 0.5em;
      }
    }
  }
}

@import "articleList";
@import "articleSingle";