@import "mixins/responsivnes";

.comments {
  display: flex;
  flex-direction: column;
  @include responsiveBody;

  noscript,
  .options {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    background: $white;
  }

  noscript > a {
    margin-left: .5em;
  }

  .options {
    display: none;
    visibility: hidden;

    &.visible {
      display: flex;
      visibility: visible;
    }

    button {
      display: none;
      visibility: hidden;

      &.visible {
        display: block;
        visibility: visible;
      }
    }
  }

  #disqus_thread {
    display: none;
    visibility: hidden;
    margin-bottom: 2em;

    &.visible {
      display: block;
      visibility: visible;
    }
  }
}