@import "mixins/responsivnes";
@import "mixins/skew";

.footer-clear {
  display: flex;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 10em;
  position: relative;
  margin-top: -1em;
  justify-content: space-between;
  max-width: 980px;

  @include responsiveBody;

  &:before {
    @include skew;
    background: $accent-color;
    height: 15em;
    margin-bottom: -50%;
    overflow: hidden;
    z-index: 3;
  }

  a,
  p,
  span,
  .links {
    z-index: 10;
  }

  span {
    color: $text-light-secondary;
    margin-bottom: 1em;
    align-self: center;
    font-size: .8em;
  }

  .links {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      color: $text-light-secondary;
      text-align: center;
      margin: auto 0;
    }
    a:hover,
    a:active,
    a:focus {
      color: $text-light-primary;
      text-decoration: none;
    }

    :not(:last-child) {
      margin-right: 1em;
    }
  }
}
