$header-sticky-height: 2.5em;

.header-sticky {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  // Less than menus (999)
  z-index: 990;
  background: $accent-color;
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.2);
  color: $text-light-primary;

  // Initial
  height: 10px;

  &.scroll {
    height: $header-sticky-height;

    .wrap {
      visibility: visible;
    }
  }

  .wrap {
    display: flex;
    visibility: hidden;
    flex-direction: row;

    // TODO: RESPONSIVENESS
    width: 75%;
    max-width: 900px;

    .center {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: center;
    }

    .wrap-left,
    .wrap-right {
      display: flex;
      flex: 1;

      .mdi-button {
        color: $text-light-secondary;
        align-self: center;

        &:hover {
          color: $text-light-primary;
        }
      }
      span {
        line-height: $header-sticky-height;
      }
    }

    .wrap-right {
      justify-content: end;
    }

    .icon {
      border-radius: 50%;
      margin-top: -20px;
    }
  }
}