$highlight-background: $color-1;

$highlight-text: $text-light-primary;
$highlight-comment: $blue-grey-500;

$highlight-red: $red-a200;
$highlight-orange: $orange-a200;
$highlight-yellow: $amber-a200;
$highlight-green: $green-a200;
$highlight-aqua: $light-blue-a200;
$highlight-blue: $blue-a200;
$highlight-purple: $deep-purple-a100;

$font-size: $base-font-size;
$line-height: $base-line-height;

@mixin code-block {
  background: $highlight-background;
  overflow: auto;
  color: $highlight-text;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  text-rendering: optimizelegibility !important;

}

article section {
  code {
    @include code-block;
    padding: 0.2em 0.3em;
    border-radius: 2px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre {
    @include code-block;
    code {
      background: none;
      text-shadow: none;
      padding: 0;
    }
  }
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: $highlight-comment;
}

.token.punctuation {
  color: $highlight-text;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}