#article-share-menu.menu
    ul
        each scheme, name in config.share
            if name === 'Twitter'
                -text = scheme.replace(':url', config.domain + '/' + path)
                -href = 'https://twitter.com/intent/tweet?text=' + encodeURI(text)
                li
                    a(href=href)!=name
        li
            a(href='#') Some lnk
